.logo{
    height: 10%;
    width: 10%;
    display: flex;
 }

#top menu{
display: flex;
justify-content: space-between;
height: 72px;
background-color: white;
border-bottom: 4px solid #1f9cc2;
padding: 0 0 0 1rem;
align-items: center;

}

.menu{
display: flex;
justify-content: space-around;
align-items: center;
padding: 2px 1rem 0;

}

.menu1{
padding: 22PX;
margin: 10px

 }

.menu1:hover {
background-color: #1f9cc2;
border-bottom-color:4px solid #1f9cc2;
}