.logo{
    height: 10%;
    width: 10%;
    display: flex;
 }

 #top menu{
    display: flex;
    height: 72px;
    border-bottom: 7rem solid black;
    justify-content: space-around;
    align-items: center;

}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu1{
    margin: 10px
}

.menu1:hover {
    background-color: #1f9cc2;
}

.onelogo{
    display: flex;
    justify-content: space-around;
 
}
